@import "partials/reset";
@import "partials/grid";
@import "partials/spacing";
@import "partials/chart";

.d-flex {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.gap-1 {
    gap: 1rem;
}

/*####################################################
FONT-WEIGHT
####################################################*/

.font-weight-100 {
    font-weight: 100 !important;
}

.font-weight-200 {
    font-weight: 200 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}

/*####################################################
LINE HEIGHT
####################################################*/
@for $i from 1 through 10 {
    $size: $i/10;

    @if $i==10 {
        .lh-2 {
            line-height: 2;
        }
    }

    @else {
        .lh-1_#{$i} {
            line-height: #{1 + $size};
        }
    }
}

.truncate {
    overflow: hidden;
    display: -webkit-box;

    &-after {
        position: relative;
        -webkit-box-orient: vertical;

        @for $i from 1 to 15 {
            &.lines-#{$i} {
                -webkit-line-clamp: #{$i};
                max-height: $i + 1em;
            }
        }

    }
}

.text-light {
    color: rgba(255, 255, 255, 0.8);
}

a {
    color: unset;
    text-decoration: none;
}

strong, b {
    font-weight: 600;
}

:root {
    --accent: #18d26e;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #191818;
    color: white;
    font-family: "Raleway", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
}

.container {
    padding: 0 1rem;
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}

#home {
    position: relative;
    height: 100vh;
    max-height: 600px;
    display: flex;
    align-items: center;
    margin: 0;
    background-image: url('../img/ana.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        top: 0;
        right: 0;
        height: 100%;
        background-color: black;
        opacity: .8;
    }
}

#home #content {
    position: relative;
    z-index: 1;
    text-align: center;
}

#home h2 {
    margin-top: 1rem;
}

#home h2 span {
    border-bottom: 2px solid #18d26e;
    padding-bottom: 1px;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .9);
    .mobile {
        display: block;
        padding: 1rem;
        width: 100%;
        text-align: center;
        @media screen and (min-width: 500px) {
            display: none;
        }
    }
    ul {
        padding: 1rem;
        display: flex;
        list-style: none;
        align-items: center;
        gap: 2rem;
        justify-content: center;
        position: absolute;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .9);
        width: 100%;
        left: 0;
        opacity: 0;
        transition: all .3s;
        @media screen and (min-width: 500px) {
            padding: 2rem;
            position: relative;
            flex-direction: row;
            opacity: 1;
        }
        &.active {
            opacity: 1;
        }
    }

}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}

.navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #18d26e;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

#home #image {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: .5;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

section {
    position: relative;
    display: flex;
    align-items: center;
    margin: 4rem 0;
    z-index: 1;
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--accent);
}

.number {
    // background-color: rgba(24, 210, 110, .7);
    // padding: 1rem;
    margin-top: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--accent);

    b {
        font-weight: 600;
    }
}

.profile-img {
    position: relative;
    padding: 1rem;

    &:before,
    &::after {
        display: block;
        content: "";
        width: 48px;
        height: 48px;
        position: absolute;
    }

    &::before {
        top: 0;
        left: 0;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
    }

    &::after {
        bottom: 0;
        right: 0;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    margin-bottom: 1rem;
    padding: 1rem;
    background: rgba(0,0,0, 0.7);
    border-radius: 8px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08);
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;

    .work {
        width: 100%;
        height: 100%;
        color: white;
        text-decoration: none;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            background: rgba(0, 0, 0, 0.8);
            position: absolute;
            left: 30px;
            right: 30px;
            top: 30px;
            bottom: 30px;
            transition: all ease-in-out 0.3s;
            opacity: 0;
        }

        &:hover::before {
            opacity: 1;
            inset: 0;
        }

        &-image {
            img {
                width: 100%;
                height: 100%;
                min-height: 230px;
                object-fit: cover;
            }
        }

        &-content {
            position: absolute;
            inset: 0;
            // background-color: rgba(0, 0, 0, .8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 1rem;
            transition: all ease-in-out 0.3s;
            opacity: 0;
            z-index: 1;

            &:before,
            &::after {
                display: block;
                content: "";
                width: 48px;
                height: 48px;
                position: absolute;
                transition: all ease-in-out 0.3s;
            }
            
            &::before {
                top: 30%;
                left: 30%;
                border-top: 3px solid #fff;
                border-left: 3px solid #fff;
            }

            &::after {
                bottom: 30%;
                right: 30%;
                border-bottom: 3px solid #fff;
                border-right: 3px solid #fff;
            }

            >div {
                font-size: 1.125rem;
                font-weight: 600;
            }
        }

        &:hover {
            .work-content {
                opacity: 1;
                &::before {
                    top: 1rem;
                    left: 1rem;
                }
                &::after {
                    bottom: 1rem;
                    right: 1rem;
                }
            }
        }
    }
}
.anchor {
    position: relative;
    top: -50px;
}